.Header {
  grid-area: Header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 5em;
  margin-right: 10em;

  .Header__title {
    font-size: 3rem;
    letter-spacing: .5px;
    margin-left: 1.8em;
    font-family: CamphorThree;
  }

  .Header__title::first-letter {
    background: linear-gradient(to bottom, $primary-color 10%, #CE9FFC 90%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .Header__items {
    list-style-type: none;

    li {
      margin-right: 1.8em;
      display: inline;
    }
  }

  .Header__button {
    font-size: 1.2rem;
    font-family: Camphor;
    text-decoration: none;
    color: $text-color;

    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $lg-viewport) {
  .Header {
    flex-wrap: nowrap !important;
    margin-bottom: 1em;
  }

  .Header__title {
    margin-left: 0em !important;
    margin-right: 2em !important;
  }

  li {
    margin-right: 0 !important;
    margin-left: 1em !important;
  }
}

@media only screen and (max-width: $md-viewport) {
  .Header {
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
  }

  .Header__title {
    margin-top: .5em !important;
    margin-bottom: .5em !important;
    margin-right: 0 !important;
  }

  .Header__items {
    li {
      margin-left: 1em !important;
      margin-right: 1em !important;
    }
  }
}
