.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA; 
  opacity: .6;
}

.no-results {
  grid-area: JobListingContainer;
  font-family: CamphorThree;
    
  h1 {
    margin-bottom: 1em;
    margin-top: 3em;
  }
  h3 a {
    color: $primary-color;
  }
}

.JobListingContainer {
  font-family: CamphorThree;
  grid-area: JobListingContainer;
  display: flex;
  flex-direction: column;
  margin-top: 3em;

  .JobListingContainer__amount {
    margin-bottom: 1.5em;
    text-align: left;
  }

  .JobListing {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 0 0 auto;
    align-self: center;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;

    .JobListing__info {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .JobListing__title {
      font-size: 18px;
      margin-bottom: .4em;
      width: 80%;
    }

    .JobListing__company {
      font-family: Camphor;
    }

    .JobListing__location {
      font-size: 16px;
      color: #959595;
    }

    .JobListing__apply {
      font-family: CamphorThree;
      background-color: $primary-color;
      background: linear-gradient(to bottom, $primary-color 10%, #CE9FFC 90%);
      font-weight: 600;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 14px;
      color: white;
      text-decoration: none;
      font-size: 18px;
      letter-spacing: 1.25px;
      outline: none;
      border-radius: 4px;

    }
  }
}

