@import 'layout/camphor',
        'utilities/variables';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  color: $text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  font-family: CamphorThree;
  background-color: $background-color;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 175px fit-content(0) minmax(150px, auto);
  grid-gap: 5px;
  grid-template-areas:
    "Header Header Header"
    "SearchContainer SearchContainer SearchContainer"
    ". JobListingContainer .";
}

@import 'layout/header',
        'layout/search',
        'layout/jobListings',
        'layout/subscription';

@media only screen and (max-width: $md-viewport) {
  .app-container {
    grid-template-areas:
    "Header Header Header"
    "SearchContainer SearchContainer SearchContainer"
    "JobListingContainer JobListingContainer JobListingContainer";
  }
}

@media only screen and (max-width: $lg-viewport) {
  .app-container {
    grid-template-areas:
    "Header Header Header"
    "SearchContainer SearchContainer SearchContainer"
    "JobListingContainer JobListingContainer JobListingContainer";
  }
}

@media only screen and (max-width: $ex-lg-viewport) {
  .app-container {
    grid-template-areas:
    "Header Header Header"
    "SearchContainer SearchContainer SearchContainer"
    "JobListingContainer JobListingContainer JobListingContainer";
  }
}
