@import './layout/camphor.scss';
@import './layout/header.scss';
@import './layout/search.scss';
@import './layout/jobListings.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  background-color: #FAFAFA;
  color: #484848;
}

.app-container {
  font-family: CamphorThree;
  background-color: #FAFAFA;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 150px auto minmax(150px, auto);
  grid-gap: 5px;
  grid-template-areas:
    "Header Header Header"
    "SearchContainer SearchContainer SearchContainer"
    "JobListingContainer JobListingContainer JobListingContainer";
}
