$background-color: #FAFAFA;
$primary-color: #8977F8;
$shadow-color: #dce0e0;
$text-color: #484848;
$sm-viewport: 320px;
$md-viewport: 675px;
$lg-viewport: 925px;
$ex-lg-viewport: 1026px;
$no-filter-viewport: 717px;
